<launch>
  <arg name="launch_all" default="true" />
  <arg name="sim" default="false" />
  <arg name="robot_control" default="$(arg launch_all)"/>
  <arg name="kinect" default="$(arg launch_all)"/>
  <arg name="dialog" default="$(arg launch_all)"/>
  <arg name="joystick" default="$(arg launch_all)"/>
  <arg name="dashboard" default="$(arg launch_all)" />
  <arg name="guesswhat" default="$(arg launch_all)" />
  <arg name="image_processing_robot" default="$(arg launch_all)" />
  <arg name="image_processing_gpu" default="$(arg launch_all)" />
  <arg name="head_coordinator" default="$(arg launch_all)" />
  <arg name="joy_dev" default="/dev/input/js0" />

  <group if="$(arg kinect)">
    <param name="/openni/driver/data_skip" value="6" /> <!-- 5Hz -->
    <param name="/openni/rgb/image_rect_color/compressed/jpeg_quality" value="100" />
    <param name="/openni/rgb/image_rect_mono/compressed/jpeg_quality" value="100" />
    <include file="$(find openni_launch)/launch/openni.launch">
      <arg name="camera"                          value="openni" />
      <arg name="publish_tf"                      value="false" /> <!-- Done by the IRL-1 repo -->
      <arg name="depth_registration"              value="false" />
      <arg name="ir_processing"                   value="false"/>
      <arg name="disparity_processing"            value="false"/>
      <arg name="disparity_registered_processing" value="false"/>
      <arg name="hw_registered_processing"        value="false" />
      <arg name="sw_registered_processing"        value="false" />
    </include>
  </group>

  <!-- April tags detection library -->
  <group if="$(arg image_processing_robot)">
    <include file="$(find apriltags2_ros)/launch/continuous_detection.launch">
      <arg name="camera_name" value="/openni/rgb" />
      <arg name="image_topic" value="image_rect_mono" />
      <arg name="camera_frame" value="openni_rgb_optical_frame" />
    </include>
  </group>

  <group if="$(arg robot_control)">
    <group if="$(arg sim)">
      <include file="$(find jn0_gazebo)/launch/jn0_empty_world.launch" />
    </group>

    <group unless="$(arg sim)">
      <include file="$(find jn0_bringup)/launch/jn0_standalone.launch" />
    </group>
  </group>

  <group ns="devine">
    <group if="$(arg robot_control)">
      <include file="$(find devine_irl_control)/launch/devine_irl_control.launch">
        <arg name="sim" value="$(arg sim)"/>
      </include>
    </group>

    <group if="$(eval arg('robot_control') and arg('kinect'))">
      <node name="pos_lib" pkg="devine_common" type="pos_lib.py" required="true" />
    </group>

    <group if="$(arg dialog)">
      <node name="snips" pkg="devine_dialog" type="snips.py" required="true" />
      <node name="dialog_control" pkg="devine_dialog" type="dialog_control.py" required="true" />
    </group>

    <group if="$(arg image_processing_robot)">
      <node name="img_dispatcher" pkg="devine_image_processing" type="image_dispatcher.py" required="true" />
      <node name="depth_mask" pkg="devine_image_processing" type="mask.py" required="true" />
      <node name="features_extraction" pkg="devine_image_processing" type="features_extraction.py" required="true" />
    </group>

    <group if="$(arg image_processing_gpu)">
      <node name="image_segmentation" pkg="devine_image_processing" type="segmentation.py" required="true" />
      <node name="body_tracking" pkg="devine_image_processing" type="body_tracking.py" required="true" />
    </group>

    <group if="$(arg head_coordinator)">
      <node name="scene_finder" pkg="devine_head_coordinator" type="scene_finder.py" required="true" />
      <node name="human_finder" pkg="devine_head_coordinator" type="human_finder.py" required="true" />
    </group>

    <group if="$(arg dashboard)">
      <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
      <node name="dashboard" pkg="devine_dashboard" type="serve.py" respawn="true" />
      <node name="dashboard_frontend" pkg="devine_dashboard" type="build_watch.py" respawn="true" />
    </group>

    <group if="$(arg guesswhat)">
      <node name="guesswhat" pkg="devine_guesswhat" type="guesswhat_node.py" required="true" />
    </group>

    <group if="$(arg joystick)">
      <param name="joy_node/dev" value="$(arg joy_dev)" />
      <node name="joystick" pkg="joy" type="joy_node" />
      <group if="$(arg dialog)">
        <node name="joystick_dialog_ctrl" pkg="devine_dialog" type="ros.py" required="true" />
      </group>
    </group>
  </group>
</launch>
