<launch>
  <arg name="robot_control" default="true"/>
  <arg name="kinect" default="true"/>
  <arg name="snips" default="true"/>
  <arg name="dashboard" default="true" />
  <arg name="guesswhat" default="true" />
  <arg name="image_processing" default="true" />

  <group if="$(arg robot_control)">
    <include file="$(find irl_control)/src/irl_control/irl_control.launch" />
    <!-- <node name="pos_lib" pkg="devine_kinect" type="pos_lib.py" respawn="true" /> -->
  </group>
  <group if="$(arg kinect)">
    <include file="$(find openni_launch)/launch/openni.launch" />
    <node name="img_throttle_zone" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.008 /devine/image/zone_detection" />
    <node name="img_throttle_seg" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.008 /devine/image/segmentation" />
    <node name="img_throttle_features" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.008 /devine/image/features_extraction" />
    <node name="img_throttle_blur" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.008 /devine/image/blur_detection" />
    <node name="img_throttle_bodytracking" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.008 /devine/image/body_tracking" />  
  </group>
  <group if="$(arg snips)">
    <node name="snips" pkg="snips" type="snips.py" respawn="true" />
  </group>
  <group if="$(arg image_processing)">
    <node name="features_extraction" pkg="devine_image_processing" type="features_extraction.py" respawn="true" />
    <node name="image_segmentation" pkg="devine_image_processing" type="segmentation.py" respawn="true" />
  </group>
  <group if="$(arg dashboard)">
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  </group>
  <group if="$(arg guesswhat)">
    <node name="guesswhat" pkg="devine_guesswhat" type="guesswhat_node.py" respawn="true" />
  </group>
</launch>
