body, html {
    height: 100%;
}

body > div {
    background-color: #222;
}

::-moz-selection {
    background-color: #317572 !important;
    color: #fff !important;
 }
 ::selection {
     background-color: #317572 !important;
     color: #fff !important;
 }

#console {
    overflow-x: auto;
    height: 630px;
    max-width: 600px;
    background-color: transparent;
    border: none;
    color: white;
}

.card {
    margin-top: 16px;
}

.card-header {
    color: white;
}

#kinect_image {
    background-color: grey;
}

.card .custom-checkbox {
    display: inline-block;
    margin-left: 15px;
}

.card .custom-checkbox:first-child {
    margin-left: 0;
}

#publisher_topics {
    max-height: 500px;
    max-width: 450px;
    overflow: auto;
}

.btn {
    /* Fix bug with overlapping dropdown menu */
    z-index: 0 !important;
}