{% import 'macros/camera_feed.html' as kinect_macro %}
{% import 'macros/console.html' as console_macro %}

<div class="dashboard row">
  <div class="col-sm">
    {{ console_macro.console() }}
  </div>
  <div class="col-sm">
    {% include 'dashboard/publisher.html' %} 
    {% include 'dashboard/subscribers/dialog.html' %} 
    {% include 'dashboard/subscribers/image_dispatcher.html' %} 
  </div>
  <div class="col-sm">
    {{ kinect_macro.camera('Kinect Camera', 'kinect_image', true) }}
  </div>
</div>