<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>🤖 DEVINE Dashboard</title>

  <!-- https://bootswatch.com/darkly/ -->
  <link rel="stylesheet" href="/css/bootstrap.darkly.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container-fluid">
    {% if path == "index" %}
      {% include 'dashboard/dashboard.html' %} 
    {% elif path == "scoreboard" %}
      {% include 'scoreboard/scoreboard.html' %} 
    {% else %}
      <span>Erreur 404 :(</span>
    {% endif %}
  </div>
  <script src="dist/bundle.js"></script>
</body>

</html>
