<launch>
  <arg name="rosbag" default=""/>

  <include file="$(find devine_irl_control)/launch/devine_irl_control.launch" />
  <node name="devine_image_processing_zone_detection" pkg="devine_image_processing" type="zone_detection.py"/>
  <node name="devine_common_find_scene" pkg="devine_common" type="node_find_scene.py"/>
  <node pkg="rosbag" type="play" name="image" args="-l $(arg rosbag)"/>
  <node name="img_throttle_zone" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_color/compressed 0.08 /devine/image/zone_detection" />

</launch>
