<launch>
  <arg name="jn0" default="true"/>
  <arg name="control" default="true"/>
  <arg name="point" default="true"/>

  <group if="$(arg jn0)">
    <include file="$(find jn0_gazebo)/launch/jn0_empty_world.launch" />
  </group>

  <group if="$(arg control)">
    <node name="control" pkg="irl_control" type="node_control.py" respawn="false" />
  </group>
  
  <group if="$(arg point)">
      <node name="control_marker" pkg="irl_control" type="node_marker.py" respawn="true" />
      <node name="control_tf" pkg="irl_control" type="node_object_tf.py" respawn="true" />
      <node name="control_error" pkg="irl_control" type="node_error.py" respawn="true" />
  </group>
  
</launch>