<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>🤖 Robot dashboard</title>
  </head>
  <body>
    <div class="uk-grid" uk-grid>
      <div class="uk-width-1-6">
        <ul class="uk-list">
          <li>
            <form class="uk-search">
              <input class="uk-search-input command-search" type="search" placeholder="Search... (Todo)">
            </form>
          </li>
          <li class="command-test command-menu">Test</li>
        <ul>
      </div>
      <div class="uk-width-expand command-view command-current" name="test" hidden>
        {% include 'subscriber.html' %}
      </div>
    </div>
    <script src="dist/bundle.js"></script>
  </body>
</html>
