<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>🤖 DEVINE Dashboard</title>

  <!-- https://bootswatch.com/darkly/ -->
  <link rel="stylesheet" href="/assets/css/bootstrap.darkly.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        {% include 'console.html' %}
      </div>
      <div class="col-sm">
        {% include 'publisher.html' %}
        {% include 'guesswhat_subscriber.html' %}
        {% include 'gamestate_subscriber.html' %}
        {% include 'snips_subscriber.html' %}
      </div>
      <div class="col-sm">
        {% include 'kinect_subscriber.html' %}
      </div>
    </div>
  </div>

  <script src="dist/bundle.js"></script>
</body>

</html>