<select id="kinect_image_type">
  <option value="/camera/rgb/image_color/compressed">Color Image</option>
  <option value="/camera/rgb/image_mono/compressed">Mono Image</option>
  <option value="/camera/ir/image_raw/compressed">IR</option>
</select>

<label><input id="subscribe_checkbox" type="checkbox" class="uk-checkbox"> Subscribe</label>
<label><input id="segmentation_checkbox" type="checkbox" class="uk-checkbox"> Segmentation</label>

<br /><br />
Position found (2D): <span id="kinect_pos_found">N/A</span><br />
Position calculated (3D): <span id="kinect_pos_calc">N/A</span>
<br /><br />
Delay:<br />
<input type="range" min="1" max="1" value="1" class="slider" id="kinect_image_history" style="width:639px"><br />
<canvas id="kinect_image" style="max-width:none" width="640" height="480"></canvas>
